<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
      h1 {
         padding-top: 10vh;
         color: #7c98d6;
      }
      th, tr {
        color: azure;
      }
      .tb {
        color: azure;
        display: block;
        margin: 0 auto;
        width: 90%;
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
      }
      #add-field {
        width: 50vw;
      }
      body {
        background-color: black;
      }
      span {
        color: #bdcfde;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>KhaoMeter</h1>
      <form action="/participants" method="POST" class="my-4 form-inline">
        <label for="name" class="sr-only">Url</label>
        <input
          type="text"
          name="name"
          id="add-field"
          class="form-control col mr-2"
        />
        <button class="btn btn-dark" type="submit">Add Participant</button>
      </form>
      <div class = "tb">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Add A Joke</th>
            <th>Counter</th>
          </tr>
        </thead>
        <tbody>
          <% participants.forEach(participant => { %>
          <tr>
            <td><span><%= participant.name %></span></td>
            <td><form action="/increment/<%-participant.name%>" method="POST"><button class="btn btn-dark" type="submit">Khalle</button></form></td>
            <td><%= participant.counter %> Khalles</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html>
